html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {
   --border: 1px solid black;
   --entire: 100%;
   --font1: 16px;
   --font2: 24px;
   --sent: #F6F6F6;
   --read: #E5E5E5;
   --min-space: 0.5rem;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}

a {
   text-decoration: none;
}

.container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: var(--entire);
}
.popup-form{
   flex-wrap: wrap;
   row-gap: var(--min-space);
}

.app-container {
   width: 320px;
   height: 530px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: var(--min-space);
   margin: 10% auto;
   row-gap: var(--min-space);
}

.chat-container {
   flex: 1;
   border: var(--border);
   padding: var(--min-space);
   display: flex;
   flex-direction: column-reverse;
   row-gap: var(--min-space);
   overflow: auto;
   -ms-overflow-style: none;
      /* IE and Edge */
   scrollbar-width: none;
      /* Firefox */
}
.chat-container::-webkit-scrollbar {
   display: none;
}
.message-item {
   background-color: var(--read);
   padding: var(--min-space);
   width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   row-gap: 0.25rem;
}
.sent {
   background-color: var(--sent);
   align-self: flex-end;
}
.read {
   background-color: var(--read);
}
.message-time {
   font-size: 14px;
   font-style: italic;
   font-weight: 300;
   align-self: flex-end;
}

.button{
   border: var(--border);
   font-family: inherit;
   font-size: inherit;
   color: black;
   padding: 0.5rem;
   transition: all 0.2s ease-out;
}
.button:hover{
   background-color: black;
   color: white;
}
#confirmCodeButton {
   flex: 1;
   margin-left: var(--min-space);
}

.message-input {
   flex: 1;
   border: var(--border);
   margin-right: 0.5rem;
   padding-left: var(--min-space);
   font-family: inherit;
   font-size: inherit;
}
.message-input:focus{
   outline: none;
}
.message-input:disabled {
   background-color: var(--read);
}

.popup-input {
   width: var(--entire);
   height: 2rem;
   border: var(--border);
   padding-left: var(--min-space);
   font-family: inherit;
   font-size: inherit;
}
.popup-input:focus {
   outline: none;
}

.hidden {
   opacity: 0;
   visibility: hidden;
}

/* ----------------------POPUPS---------------------- */


.popup {
   width: 100vw;
   min-height: 100vh;
   height: 1px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #000000a1;
   padding: 30px;
   overflow: auto;
   z-index: 1;
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
}
.popup.opened{
   opacity: 1;
   visibility: visible;
}
.popup.opened .popup-body {
   transform: translate(0px, 0px);
   opacity: 1;
}

.popup-body-wrapper{
   min-height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup-body {
   width: 275px;
   height: 320px;
   background-color: white;
   padding: 1rem;
   transition: all 0.3s ease 0s;
   opacity: 0;
   transform: translate(0px, -100%);
}
.popup-content{
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}
.popup-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.close-button{
   font-size: 24px;
   opacity: 45%;
   transform: rotate(45deg);
}
.popup-options {
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   row-gap: var(--min-space);
}
